@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Eudoxus-sans";
    src: url('/fonts/Eudoxus-Sans/EudoxusSans-Bold.ttf');
    font-weight: 700;
    font-style: bold;
    font-display: block;
}
@font-face {
    font-family: "Eudoxus-sans";
    src: url('/fonts/Eudoxus-Sans/EudoxusSans-Medium.ttf');
    font-weight: 500;
    font-style: medium;
    font-display: block;
}
@font-face {
    font-family: "Eudoxus-sans";
    src: url('/fonts/Eudoxus-Sans/EudoxusSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Eudoxus-sans";
    src: url('/fonts/Eudoxus-Sans/EudoxusSans-Light.ttf');
    font-weight: 300;
    font-style: light;
    font-display: block;
}